<div class="container">
    <div class="row">

        <div class="col-3 search">
            <input type="text" placeholder="Search Tên" [(ngModel)]="searchName" (ngModelChange)="search()" />
        </div>


        <div class="col-3 search">
            <input type="text" placeholder="Search địa chỉ" [(ngModel)]="searchAddress" (ngModelChange)="search()" />
        </div>

        <div class="col-3 search">
            <input type="text" placeholder="Search Email" [(ngModel)]="searchEmail" (ngModelChange)="search()" />
        </div>

        <div class="col-3 search">

            <select (change)="search()" [(ngModel)]="searchGen">
                <option value="">Gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>

            <!-- <button style="margin-left: 30px;" (click)="openAddAccount()">Add</button> -->
            <button type="button" class="btn btn-primary" style="margin-left: 30px;" (click)="openAddAccount()">Add</button>
        </div>
    </div>
</div>
<div>
    <table style="width: 100%;">
        <thead>
            <tr style="height: 45px;
   
            
                position: sticky;
                top: 0;
                background-color: yellow;
                padding: 50px;
                font-size: 14px;">
                <th *ngFor="let item of columns">{{item.label}}</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of account | paginate: { itemsPerPage: 25,currentPage: p}; let index=index" style="height: 45px !important; font-size: 14 !important;">
                <td *ngFor=" let column of columns">
                    <ng-container [ngSwitch]="column.field">
                        <span *ngSwitchDefault>{{item[column.field]}}</span>
                        <span *ngSwitchCase="'fullname'">{{item.firstname}}{{item.lastname}}</span>
                        <span *ngSwitchCase="'stt'">{{(index + 1)+(p-1)* 25}}</span>
                        <span *ngSwitchCase="'action'">
                            <button type="button" class="btn btn-warning" (click)="openEdit(item)"
                                style="height: 45px !important;">Sửa</button>
                            <button type="button" class="btn btn-danger" (click)="delete(item)"
                                style="margin-left:3px; height: 45px !important;">Xóa</button>
                        </span>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>