.search {
    padding: 10px;
}

.search input,
select {
    padding: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

tr:nth-child(2n) {
    background: rgb(202, 202, 202);
}